@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
      body {
          margin: 0;
          font-family: 'Open Sans', sans-serif;
          text-align: justify;
          font-size: 20px;
          background-image: url("background.jpg");
          background-color: #dbdbdb; 
          background-position: center; /* Center the image */
          background-repeat: repeat; /* Do not repeat the image */
          background-attachment: fixed;
          background-size: cover; /* Resize the background image to cover the entire container */
        }
        h1 {
            font-family: 'Merriweather', serif;
            font-weight: 700;
          }
          h2 {
            font-family: 'Merriweather', serif;
            font-weight: 400;
          }
          h3 {
            font-family: 'Merriweather', serif;
            font-weight: 300;
          }
          .main-page{
            text-align: center;
          }
          .highlighted{
              color:#10598a;
          }
        .topnav {
          overflow: hidden;
          background-color: rgb(235, 235, 235);
          position: fixed; 
          top: 0; 
          z-index: 1000;
          width: 100%; 
          height: 55px;
        }
        .topnav ul{
            float: left;
            width: auto;
            margin-top: 1px;
            list-style: none;
            text-align: center;
        }
        .topnav ul li{
            display: inline-block;
        }
        .topnav ul li a {
         display: block;
          color: #616161;
          padding: 15px;
          text-decoration: none;
          font-size: 17px;
        }
        
        .topnav ul li a:hover {
          color: #10598a;
        }
        
        .topnav ul li a.active {
          background-color: #adc1db;
        }
        .main {
            margin-left:0 auto;
            margin-right: 0 auto;
            padding-left: 10%;
            padding-right: 10%;
            padding-top:2% ;
            padding-bottom:3% ;
            margin-top: 50px;
            margin-bottom:0px;
            background-color: rgba(235, 235, 235, 0.95);
            transform: translate(16%, 0);
            width: 55%;
            color:rgb(66, 66, 66);
          }
          table {
            color: #10598a;
            margin-left: auto;
            margin-right: auto;
            padding: 5px;
            border: 3px solid #10598a;
            width: 80%;
          }
          
          tr {
            text-align: left;
            padding: 8px;
          }
          button {
            background-color: #ffffff00;
            border: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
          }
        .container{
            position: relative;
        display: inline-block;
        }
               .container .overlay {
                margin-left: auto;
                margin-right: auto;
                position:absolute;
                z-index: 99;
                top: 0;
                left: 0;
                height: 250px;
                width: 250px;
                opacity: 0;
                transition: .5s ease;
                background-color: #10598ac2
              }
              .text{
                color: rgba(235, 235, 235);
                font-size: 25px;
                
                padding-top: 110px;
                text-align: center;
              }
              .container:hover .overlay {
                opacity: 1;
              }
              .container a:visited {
                color: rgba(235, 235, 235);
              }
