@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
      body {
          margin: 0;
          font-family: 'Open Sans', sans-serif;
          text-align: justify;
          font-size: 20px;
          background-image: url("background.jpg");
          background-color: #dbdbdb; 
          background-position: center; /* Center the image */
          background-repeat: repeat; /* Do not repeat the image */
          background-attachment: fixed;
          background-size: cover; /* Resize the background image to cover the entire container */
        }
        h1 {
            font-family: 'Merriweather', serif;
            font-weight: 700;
          }
          h2 {
            font-family: 'Merriweather', serif;
            font-weight: 400;
          }
          h3 {
            font-family: 'Merriweather', serif;
            font-weight: 300;
          }
          .main {
            margin-left:0 auto;
            margin-right: 0 auto;
            margin-top: 50px;
            padding-left: 10%;
            padding-right: 10%;
            padding-top:2% ;
            padding-bottom:3% ;
            margin-bottom:0px;
            background-color: rgba(235, 235, 235, 0.95);
            transform: translate(16%,0);
            width: 55%;
            color:rgb(66, 66, 66);
          }
          .main-page{
            top: 50px;
            text-align: center;
          }
          .highlighted{
              color:#10598a;
          }
        
          table {
            color: #10598a;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
            border: 3px solid #10598a;
            width: 80%;
          }
          .center{
            display: block;
            margin-top: 20px;
            padding-left:10%;
            padding-right:10%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
          }
          tr {
            text-align: justify;
            padding: 8px;
          }
          button {
            background-color: #ffffff00;
            border: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
          }
          button.submit {
            background-color: #10598a; 
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
          }
          button.submit:hover {
            background-color: #093450; 
            color: white;
          }
              ul.nopadding
              {
              list-style-type: none;
              padding-left: 0px;
              margin-left: 0px;
              }
              li.left-topic {
                float: left; 
                text-decoration: none; 
                list-style-type: none;

              }
                
              li.right-topic {
                float: right; 
                text-decoration: none; 
                list-style-type: none}
              li.oneline{
                display:inline; 
              }
                a.pagelink:link, a.pagelink:visited {
                  color: #10598a;
                  background-color: transparent;
                  text-decoration: underline;
                }
                
                a.pagelink:hover,a.pagelink:active {
                  color: rgb(66, 66, 66);
                  background-color: transparent;
                  text-decoration: underline;
                }

          #panel{
            display: none;
          }